@model Online_Mobile_Store.Models.Product
@{
    ViewBag.title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="clear"> </div>
    <div class="wrap">
        <div class="content">
            <div class="content-grids">
                <div class="blog">
                    <div class="blog-grid">
                        <h4>Blog</h4>
                        <div class="blog-grid-header">
                            <h3>Duis aute irure dolor in reprehenderit</h3>
                            <ul>
                                <li><img src="~/Images/cal.png" alt="">February 21, 2013</li>
                                <li><img src="~/Images/admin.png" alt=""><a href="#">Admin</a></li>
                                <li><img src="~/Images/post-in.png" alt=""><a href="#">10</a></li>
                            </ul>
                        </div>
                        <div class="image group">
                            <div class="grid images_3_of_1">
                                <img src="~/Images/grid-img1.jpg">
                            </div>
                            <div class="grid span_2_of_3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="button"><span><a href="#">Read More</a></span></div>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grid">
                        <div class="blog-grid-header">
                            <h3>Duis aute irure dolor in reprehenderit</h3>
                            <ul>
                                <li><img src="~/Images/cal.png" alt="">February 21, 2013</li>
                                <li><img src="~/Images/admin.png" alt=""><a href="#">Admin</a></li>
                                <li><img src="~/Images/post-in.png" alt=""><a href="#">10</a></li>
                            </ul>
                        </div>
                        <div class="image group">
                            <div class="grid images_3_of_1">
                                <img src="~/Images/grid-img2.jpg">
                            </div>
                            <div class="grid span_2_of_3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="button"><span><a href="#">Read More</a></span></div>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grid">
                        <div class="blog-grid-header">
                            <h3>Duis aute irure dolor in reprehenderit</h3>
                            <ul>
                                <li><img src="~/Images/cal.png" alt="">February 21, 2013</li>
                                <li><img src="~/Images/admin.png" alt=""><a href="#">Admin</a></li>
                                <li><img src="~/Images/post-in.png" alt=""><a href="#">10</a></li>
                            </ul>
                        </div>
                        <div class="image group">
                            <div class="grid images_3_of_1">
                                <img src="~/Images/grid-img3.jpg">
                            </div>
                            <div class="grid span_2_of_3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="button"><span><a href="#">Read More</a></span></div>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grid">
                        <div class="blog-grid-header">
                            <h3>Duis aute irure dolor in reprehenderit</h3>
                            <ul>
                                <li><img src="~/Images/cal.png" alt="">February 21, 2013</li>
                                <li><img src="~/Images/admin.png" alt=""><a href="#">Admin</a></li>
                                <li><img src="~/Images/post-in.png" alt=""><a href="#">10</a></li>
                            </ul>
                        </div>
                        <div class="image group">
                            <div class="grid images_3_of_1">
                                <img src="~/Images/grid-img1.jpg">
                            </div>
                            <div class="grid span_2_of_3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <div class="button"><span><a href="#">Read More</a></span></div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"> </div>
                    <div class="pagnation">
                        <ul>
                            <li><a href="/Home/Store">1</a></li>
                            <li><a href="/Home/Store">2</a></li>
                            <li><a href="/Home/Store">3</a>....</li>
                            <li><a href="/Home/Store">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-sidebar">
                <h4>Categories</h4>
                <ul>
                    <li>@Html.ActionLink("Accord Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Ace Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Acer Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Airphone", "Store", "Store")</li>
                    <li>@Html.ActionLink("Apple", "Store", "Store")</li>
                    <li>@Html.ActionLink("BlackBerry", "Store", "Store")</li>
                    <li>@Html.ActionLink("Beyond Tech", "Store", "Store")</li>
                    <li>@Html.ActionLink("Celkon Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Dell Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Fly Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Fujezene Mobile", "Store", "Store")</li>
                    <li>@Html.ActionLink("HTC", "Store", "Store")</li>
                    <li>@Html.ActionLink("LG Mobiles", "Store", "Store")</li>
                    <li>@Html.ActionLink("Long Tell", "Store", "Store")</li>
                    <li>@Html.ActionLink("Maxx", "Store", "Store")</li>
                    <li>@Html.ActionLink("Micromax", "Store", "Store")</li>
                    <li>@Html.ActionLink("Samsung", "Store", "Store")</li>
                    <li>@Html.ActionLink("Sony", "Store", "Store")</li>
                    <li>@Html.ActionLink("Wynncom Mobiles", "Store", "Store")</li>
                </ul>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    </div>
