@{
        ViewBag.title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 carosal">
            <div class="carousel slide" id="banner" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="1" data-target="#banner">
                    </li>
                    <li data-slide-to="2" data-target="#banner">
                    </li>
                    <li data-slide-to="3" data-target="#banner">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Carousel Bootstrap First" src="~/Images/1.png" />

                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Second" src="~/Images/2.png" />
                        
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="~/Images/1.png" />
                        
                    </div>
                </div> <a class="left carousel-control" href="#banner" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#banner" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>

@*<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/Images/1.png" alt=""></li>
            <li><img src="~/Images/2.png" alt=""></li>
            <li><img src="~/Images/1.png" alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
        </div>
    <!--End-image-slider---->
</div>*@
<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="top-3-grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="~/Admin/Single"><img src="~/Images/grid-img1.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 second">
                    <a href="~/Admin/Single"><img src="~/Images/grid-img2.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 theree">
                    <a href="~/Admin/Single"><img src="~/Images/grid-img3.jpg"></a>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
            </div>
        </div>

        <div class="content-grids">
            <h4>Deals of the day</h4>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m1.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$260</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m2.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$150</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m7.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$130</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m4.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$460</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m2.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$260</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m6.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$100</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m7.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$180</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/Images/m1.jpg">
                    <a href="~/Admin/Single">Duis aute irure dolor in reprehenderit sed do eiusmod tempor incididunt</a>
                    <h3>$140</h3>
                    <ul>
                        <li><a class="cart" href="~/Admin/Single"> </a></li>
                        <li><a class="i" href="~/Admin/Single"> </a></li>
                        <li><a class="Compar" href="~/Admin/Single"> </a></li>
                        <li><a class="Wishlist" href="~/Admin/Single"> </a></li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="text" placeholder="search" id="txt" name="P_Name" />
        <input type="submit" value="Search" />

    </div>
 
        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li>@Html.ActionLink("Accord Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Ace Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Acer Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Airphone","Store","Store")</li>
                <li>@Html.ActionLink("Apple","Store","Store")</li>
                <li>@Html.ActionLink("BlackBerry","Store","Store")</li>
                <li>@Html.ActionLink("Beyond Tech","Store","Store")</li>
                <li>@Html.ActionLink("Celkon Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Dell Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Fly Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Fujezene Mobile", "Store", "Store")</li>
                <li>@Html.ActionLink("HTC","Store","Store")</li>
                <li>@Html.ActionLink("LG Mobiles","Store","Store")</li>
                <li>@Html.ActionLink("Long Tell","Store","Store")</li>
                <li>@Html.ActionLink("Maxx","Store","Store")</li>
                <li>@Html.ActionLink("Micromax","Store","Store")</li>
                <li>@Html.ActionLink("Samsung","Store","Store")</li>
                <li>@Html.ActionLink("Sony","Store","Store")</li>
                <li>@Html.ActionLink("Wynncom Mobiles","Store","Store")</li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
</div>
<script>

    $('.carousal').carousel();


    </script>